<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    {% block custom_css %}{% endblock %}
</head>
<body>
    <div class="header">
        <div class="top">
            <div class="wp">
                <div class="fl">
                    上海艾进生物科技有限公司
                </div>
                {% if request.user.is_authenticated %}
                    <a style="color:white" class="btn" href="{% url 'users:logout' %}">退出</a>
                    <a style="color:white" class="fr" href="">{{ request.user.email }}</a>
                {% else %}
                    <a style="color:white" class="btn" href="{% url 'users:register' %}">注册</a>
                    <a style="color:white" class="btn" href="{% url 'users:login' %}">登录</a>
                {% endif %}
            </div>
        </div>
        <div class="middle">
            <div class="wp">
                <a href="{% url 'index' %}"><img src="{% static 'images/aj.jpg' %}" height="116px" /></a>
                <div class="searchbox fr">
                    <div class="selectContainer fl">
                        <span class="selectOption" id="jsSelectOption" data-value="nick_name">
                            病人姓名
                        </span>
                        <ul class="selectMenu" id="jsSelectMenu">
                            <li data-value="nick_name">病人姓名</li>
                            <li data-value="mobile">手机号</li>
                            <li data-value="invoice">已开发票号</li>
                        </ul>
                    </div>
                    <input id="search_keywords" class="fl" type="text" value="" placeholder="请输入搜索内容"/>
                    <img class="search_btn fr" id="jsSearchBtn" src="{% static 'images/search_btn.png' %}"/>
                </div>

            </div>
        </div>
        <div class="nav">
            <div class="wp">
                <a style="color:white" class="btn fl" href="{% url 'index' %}">首页</a>
                <a style="color:white" class="btn fl" href="/xadmin/">Xadmin</a>
                <a style="color:white" class="btn fl" href="{% url 'patients_list' %}">订单概览</a>
            </div>
        </div>
    </div>


{% block content %}{% endblock %}

<div class="footer">
    <div class="wp">
        <ul class="cont">
            <li class="logo"><a href="{% url 'index' %}"><img height="80px" src="{% static 'images/footlogo.png'  %}"/></a></li>
            <li class="code"><img height="80px" src="{% static 'images/code.jpg' %}"/><p class="center">扫描关注微信</p></li>
            <li class="third"><img class="fl" src="{% static 'images/tell.png' %}"/><p class="tell">021-68037066</p><p class="time">周一至周五 08:30-17:30</p></li>
        </ul>

    </div>
    <p class="line"></p>
    <div class="wp clear">
        <span class="fl">艾进在线-后台管理系统 保留所有权利</span>
        <span class="fr">copyright 2019</span>
    </div>
</div>

<script src="{% static 'laydate/laydate.js' %}"></script>
<script>
    //顶部搜索栏搜索按钮事件
    $('#jsSelectOption').on('click', function(){
        var $jsSelectMenu = $('#jsSelectMenu');
        if($jsSelectMenu.css('display') == 'block') return;
        $jsSelectMenu.addClass('dis');
    });
    $('#jsSelectMenu > li').on('click', function(){
        var searchType = $(this).attr('data-value'),
            searchName = $(this).text(),
            $jsSelectOption = $('#jsSelectOption');
        $jsSelectOption.attr('data-value',searchType).text(searchName);
        $(this).parent().removeClass('dis');
    });
    function search_click(){
        var type = $('#jsSelectOption').attr('data-value'),
            keywords = $('#search_keywords').val(),
            request_url = '';
        if(keywords == ""){
            return
        }
        if(type == "nick_name"){
            request_url = "/patients_list?nick_name="+keywords
        }else if(type == "mobile"){
            request_url = "/patients_list?mobile="+keywords
        }else if(type == "invoice"){
            request_url = "/patients_list?invoice="+keywords
        }
        window.location.href = request_url
    }

    //搜索表单键盘事件
    $("#search_keywords").keydown(function(event){
        if(event.keyCode == 13){
             $('#jsSearchBtn').trigger('click');
        }
    });
    $('#jsSearchBtn').on('click',function(){
        search_click()
    });

</script>
{% block custom_js %}{% endblock %}
</body>
</html>